<br />
<div>
	<% if flash[:notice] %>
		<div class="notice">
			<%= flash[:notice] %>
		</div>
	<% end %>

	<% if flash[:warning] %>
		<div class="warning">
			<%= flash[:warning] %>
		</div>
	<% end %>

	<br />
	<span class="underline bold">Newsfeedi</span><br />
	<ul class="newsfeed">
		<% @newsfeed.each do |items| %>
			<li>
				 - <%= items.message %><br />
					<span class="small"><%= time_ago_in_words(items.created_at) %> ago </span>
			</li>
		<% end %>
	</ul>

	<br />
	<span class="underline bold">Kurssilistaus</span><br />
	<ul>
		<% @courses.each do |course| %>
			<li>
				<%= link_to course.name, course_path(course) %>
			</li>
		<% end %>
	</ul>
</div>
