<br />
<span class="bold">Lisää kurssi</span>

<p>
	<% form_for :course, :url =>courses_path do |f| %>
	
	<ul class="styledList">
    		<li><%= f.label :name, 'Kurssin nimi' %>
			<%= f.text_field(:name) %></li>
    		<li><%= f.label :description, 'Kurssikuvaus' %>
			<%= f.text_field(:description) %></li>
  	</ul>
  		<%= submit_tag "Save" %>
	<% end %>	
</p>
