<h2>Lisää kurssi</h2>

<%= link_to 'Kurssilistaus', courses_path %>

<p>
	<% #form_for :course, @course, :url => course_url(:action=>'create') do |f| %>

	<% form_for :course, :url =>courses_path do |f| %>
	
	<ul>
    		<li><%= f.label :name, 'Kurssin nimi' %>
			<%= f.text_field(:name) %></li>
    		<li><%= f.label :description, 'Kurssikuvaus' %>
			<%= f.text_field(:description) %></li>
  	</ul>
  		<%= submit_tag "Save" %>
	<% end %>	
</p>
