
<br />
<h2 class="underline"><%= @course.name %></h2> 

(<%= link_to "Muokkaa", courses_path %> | 
<%= link_to "Poista", delete_course_path %>)

<p>
	<span class="bold">Kurssin kuvaus: </span><br />
	<%= @course.description %>
</p>

<p>
	Kurssin luennointikerrat: <br />

	<% #raise @course.course_instances.inspect %>

	<% @course.course_instances.each do |cin| %>
		<%= link_to cin.instance_name, course_instance_path(cin) %> 
(<%= link_to "Muokkaa", delete_course_instance_path %> | 
<%= link_to "Poista", delete_course_instance_path %>)
<br />
	<% end %>

</p>

